@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.img-logo-container{
    display: grid;
    justify-content: left;
}

.img-logo{
    width: 200px;
    transition: 1s ease;
    transform: scale(1);
}

.img-logo:hover{
    transition: 1s ease;
    transform: scale(1.5);
}

.title-theo-subtitle-theo-container{
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 4rem;
}

.subtitle-theo{
    font-weight: lighter;
}

.img-profile-container{
    display: grid;
    justify-content: center;
    margin-top: 7rem;
}

.img-profile{
    border-radius: 75rem;
    width: 250px;
    box-shadow: black 5px 4px 7px;
}

.presentation-container{
    background-color: #FFD369;
    height: 30rem;
    display: grid;
    width: 100%;
    margin-top: 30rem;
    animation: appear 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
    /* animation-range-end: 50%; */
}

.title-name-container{
    display: grid;
    padding-top: 50px;
    justify-content: center;
}

.title-name{
    animation: letter-appear-title;
    animation-timeline: view();
    animation-range-end: 50%;
}

.black-line-container{
    justify-self: center;
    height: 1px;
    width: 20rem;
}

.black-line{
    border-color: #222831;
}

.p-presentation-container{
    flex: none;
    display: grid;
    width: 40%;
    justify-self: center;
}

.p-presentation{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    animation: letter-appear-presentation;
    animation-timeline: view();
    animation-range-end: 50%;
    transform-origin: right;    
}

@keyframes appear {
    from {
        opacity: 0;
        translate: -6vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes letter-appear-title{
    from{
        opacity: 1;
        translate: -7vw 0;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes letter-appear-presentation{
    from{
        opacity: 1;
        translate: -7vw 0;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}