@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    z-index: 1;
}

.img-logo-container{
    display: grid;
    justify-content: left;
}

.img-logo{
    width: 200px;
    transition: 1s ease;
    transform: scale(1);
}

.img-logo-mobile{
    display: none;
}

.img-logo:hover{
    transition: 1s ease;
    transform: scale(1.5);
}

.title-theo-subtitle-theo-container{
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
}

.subtitle-theo{
    font-weight: lighter;
}

.img-profile-container{
    display: grid;
    justify-content: center;
    margin-top: 7rem;
}

.img-profile{
    border-radius: 75rem;
    width: 250px;
    box-shadow: black 5px 4px 7px;
    z-index: 1;
}

.img-g-e-container{
    display: grid;
    justify-content: center;
}

.presentation-container{
    background-color: #FFD369;
    height: 30rem;
    display: grid;
    margin-top: -17rem;
}

.title-name-container{
    display: grid;
    margin-top: 110px;
    justify-content: center;
    height: 0px;
}

.title-name{
    font-size: 40px;
}

.p-presentation-container{
    justify-self: center;
    width: 70%;
    position: relative;
    bottom: 2rem;
}

.p-presentation{
    text-align: center;
    font-weight: 500;
    font-size: 22px;    
}

.img-lightbulb-container{
    display: grid;
    justify-items: center;
    height: 120px;
}

.projects-container{
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    gap: 50px;
}

.miau-container{
    background-color: #F1A804;
    width: 431px;
    height: 718px;
    border-radius: 100px;
    justify-items: center;
    animation: miau-appear;
    animation-timeline: view();
    animation-range-end: 40%;
    
}

.img-miau{
    width: 150px;
    height: 150px;
}

.coinz-container{
    background-color: #F1A804;
    width: 431px;
    height: 718px;
    border-radius: 100px;
    justify-items: center;
    z-index: 1;
}

.img-coinz{
    width: 150px;
    height: 150px;
}

.webscraping-container{
    background-color: #F1A804;
    width: 431px;
    height: 718px;
    border-radius: 100px;
    justify-items: center;
    animation: webscraping-appear;
    animation-timeline: view();
    animation-range-end: 40%;
}

.img-webscraping{
    width: 190px;
    height: 150px;
}

.title-prjct{
    font-size: 50px;
}

.p-prjct{
    font-size: 20px;
    width: 358px;
    height: 375px;
    font-weight: 500;
    text-align: justify;
}

.button-prjct{
    font-size: 20px;
    font-weight: 500;
    border: none;
    box-shadow: #000 5px 5px 6px ;
    background-color: #73839A;
    color: #FFFF;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform: scale(1);
}

.button-prjct:hover{
    transition: 1s ease-in-out;
    transform: scale(1.2);
    box-shadow: #000 2px 2px 5px;
    background-color: #4A5664;
}

.p-warning{
    font-weight: 400;
    text-decoration: underline;
}



@media screen and (max-width: 700px){
    body{
        overflow-x: hidden;
        width: 100%;
    }
    
    .img-logo-container{
        display: grid;
        margin: 2rem;
        justify-content: center;
    }

    .img-logo{
        display: none;
    }

    .img-logo-mobile{
        display: grid;
        width: 100px;
        transition: 1s ease;
        transform: scale(1);
    }
    
    .img-logo:hover{
        transition: 1s ease;
        transform: scale(1.5);
    }
    
    .title-theo-subtitle-theo-container{
        display: grid;
        justify-content: center;
        text-align: center;
        position: relative;
        gap: 20px;
    }

    .title-theo-container{
        width: 25rem;
        justify-self: center;
    }

    .title-theo{
        font-size: 30px;
    }
    
    .subtitle-theo-container{
        justify-self: center;
        width: 26rem;
    }

    .subtitle-theo{
        font-weight: lighter;
        font-size: 20px;
    }    
}