@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.body{
    overflow-x: hidden;
}

.navbar{
    background-color: rgb(129, 148, 255);
    display: flex;
    justify-content: space-around;
    height: 5rem;
    position: static;
}

.title-navbar{
    color: white;
}

.list-navbar{
    list-style: none;
}

.link-navbar{
    color: white;
    text-decoration: none;
}